################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatternExamples/.vs/DesignPatternExamples/v15
/DesignPatternExamples/CQRS/bin/Debug/netcoreapp2.2
/DesignPatternExamples/CQRS/obj
